@import "tailwindcss";

:root {
  --color-brand: 37 99 235;
  --color-brand-hover: 96 165 250;
  --color-bg: 255 255 255;
  --color-bg-neutral: 245 245 245;
  --color-text: 15 23 42;
  --color-text-neutral: 82, 82, 82;
  --color-muted: 100 116 139;
  --color-border: 216, 216, 216;
  --color-tech-skills-bg: 219, 234, 254;
  --color-tech-skills-text: 30, 64, 175;
  --color-soft-skills-bg: 216, 180, 254;
  --color-soft-skills-text: 91, 33, 182;
  --color-outline-btn: 212, 212, 212;
  --color-danger-btn: 239, 68, 68;
  --color-danger-btn-text: 239, 68, 68;
  --color-danger-btn-bg: 254, 226, 226;
  --color-modal: 255, 255, 255;
}

.dark {
  --color-bg: 0 0 0;
  --color-bg-neutral: 23 23 23;
  --color-brand: 96 165 250;
  --color-brand-hover: 37 99 235;
  --color-text: 255 255 255;
  --color-text-neutral: 212 212 212;
  --color-muted: 148 163 184;
  --color-border: 61, 61, 61;
  --color-tech-skills-bg: 30, 58, 138;
  --color-tech-skills-text: 191, 219, 254;
  --color-soft-skills-bg: 76, 29, 149;
  --color-soft-skills-text: 233, 213, 255;
  --color-outline-btn: 38, 38, 38;
  --color-danger-btn: 220, 38, 38;
  --color-danger-btn-text: 254, 226, 226;
  --color-danger-btn-bg: 157, 27, 27;
  --color-modal: 23, 23, 23;
}

html {
  @apply scroll-smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-[rgb(var(--color-bg))] text-[rgb(var(--color-text))] transition-colors duration-100;
  font-family: "poppins", sans-serif;
}
